
$default:#DFDFDF;
$title:#fff;
$bg:#232323;
$accent:#F2FF61;
$name:#FAFFBF;
$line:#6B6B6B;


%roboto-300{
  font-family: 'Roboto', sans-serif;

  font-weight: 300;
}

%roboto-400{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%poiretone-400{
  font-family: 'Poiret One'; 
  font-weight: 400;
}

%roboto-700{
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}