@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  background-image: url('../images/bg-top.jpg');
  /* background-position: bottom center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bg;
    opacity: 43%;
  }
  &::after{
    content: '';
    position: absolute;
    background-image: url('../images/decor/topright-elemen.png');
    width: 1018px;
    height: 972px;
    right: -350px;
    bottom: -350px;
    z-index: 1;
  }
  &__top{
    margin-bottom: 23px;
  }
  &__blockquote{
    font-size: 17px;
    line-height: 20px;
    width: 315px;
    @extend %roboto-300;
  }
  &__blockquote-span{
    display: block;
    font-size: 17px;
    line-height: 20px;
    color: $accent;
    text-align: right;
    padding-top: 15px;
  }
  &__content-box{
    display: flex;
    align-items: flex-end;
    margin-bottom: 120px;
  }
  &__content{
    z-index: 1;
  }
  &__title{
    font-size: 70px;
    line-height: 58px;
    @extend %poiretone-400;
    letter-spacing: 0.095em;
    padding-bottom: 29px;
    margin-bottom: 22px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 632px;
      height: 1px;
      background-color: $line;
    }
  }
  &__title-span{
    display: block;
    padding-left: 110px;
  }
  &__list{
    display: flex;
  }

  ul.header__images{
    display: flex;
    margin-left: -40px;
  }
  &__images-item{
    &:nth-child(1){
      width: 238px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 81px;
        height: 77px;
        background-image: url('../images/decor/x-big.png');
        top: 18px;
        left: -45px;
      }
      &::after{
        content: '';
        position: absolute;
        width:40px ;
        height:40px ;
        background-image: url('../images/decor/x-small.png');
        top: -20px;
        left: 41px;
      }
      img{
        width: 238px;
        height: 420px;
        object-fit: cover;
      }
    }
    &:nth-child(2){
      width: 252px;
      position: relative;
      img{
        width: 252px;
        height: 420px;
        object-fit: cover;
        position: absolute;
        top: 110px;
      }
    }
    &:nth-child(3){
      width: 232px;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        width:40px ;
        height:40px ;
        background-image: url('../images/decor/x-small.png');
        transform: rotate(165deg);
      bottom: 25px;
      right: -21px;
      }
      img{
        width:232px;
        height: 420px;
        object-fit: cover;
        position: absolute;
        top: -40px;
      }
    }
  }
}

.header-wrapper{
  position: relative;
  height: 100vh;
  z-index: 2;
  padding: 90px 0 60px;
  overflow: hidden;
  
}

.menu{
  &__list{
    display: flex;
  }
  &__item-link{
    transition: all .3s linear;
    &:hover{
      color:$accent;
    }
  }
  &__item + .menu__item{
    margin-left: 17px;
  }
}

.social-items{
  &__link{
    margin-right: 12px;
    vertical-align: middle;
    path{
    transition: all .3s linear;
    }
    &:hover{
      path{
        fill: $default;
      }
    }
  }
}

.about{
  &::before{
    content: '';
    position: absolute;
    background-image: url('../images/decor/topleft-element.png');
    top: 150px;
    left: 0;
    width: 792px;
    height: 987px;
    z-index: 1;
  }
  &__wrapper{
    background-image: url('../images/about.jpg');
    background-position:  top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $bg;
      opacity: 43%;
    }
  }
  &__content-box{
    position: relative;
    z-index: 1;
    padding: 87px 0 208px;
  }
  &__content{
    display: flex;
    align-items: flex-end;
    border-right: 1px solid $line;
    margin-bottom: 125px;
  }
  &__author-img{
    width: 414px;
    margin-right: 128px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: 414px;
      height: 254px;
      border: 1px solid $line;
      top: -20px;
      left: -20px;
    }
    figcaption{
      color: $accent;
      font-size: 17px;
      line-height: 20px;
      @extend %roboto-300;
      text-align: right;
      margin-bottom: 40px;
    }
  }
  &__images{
    width: 414px;
    height: 276px;
    object-fit: cover;
    margin-bottom: 14px;
   
  }
  &__title{
    margin-bottom: 25px;
  }
  &__text{
    max-width: 490px;
  }
  &__portfolio{
    position: relative;
  }
  &__portfolio-images{
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: all .3s linear;
    &::before{
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0,0,0, .72);
      transition: all .3s linear;
    }
    &--active{
      filter: blur(2px);
      &::before{
        background-color: rgba(0,0,0, .81);
      }
    }
  }
  &__img{
    width: 125px;
    height: 125px;
    object-fit: cover;
  
  }
  &__portfolio-link{
    font-size: 23px;
    line-height: 27px;
    padding: 15px 25px;
    border: 1px solid $title;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s linear;
    &:hover{
      font-size: 28px;
      line-height: 33px;
    }
    &::before{
      position: absolute;
      content: '';
      width:40px ;
      height:40px ;
      background-image: url('../images/decor/x-small.png');
      transform: rotate(165deg);
      bottom: -22px;
      left: -20px;

    }
  }
}

.reviews{
  background-color: $bg;
  min-height: 350px;
  .slider{
    width: 1150px;
    margin: 0 auto;
    margin: -82px auto 0;
    padding-bottom: 74px;
  }
  .slick-slide{
    padding: 0 50px 74px;
  }
  .slick-arrow{
    position: absolute;
    z-index: 2;
    cursor: pointer;
    top: 33%;
    border: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 22px;
    height: 22px;
  }
  .slick-prev{
    left: -50px;
    font-size: 0;
    background-image: url('../images/left-slider.svg');
  }
  .slick-next{
    right: -50px;
    font-size: 0;
    background-image: url('../images/right-slider.svg');
  }
  &__content{
    border: 1px solid $line;
    position: relative;
    padding: 50px 50px 0;
    width: 1050px;
    text-align: center;
   
  }
  &__subtitle{
    font-size: 24px;
    line-height: 31px;
    @extend %roboto-400;
    margin: 0 auto 20px;
    width: 535px;
  }
  &__text{
    font-size: 19px;
    line-height: 25px;
    width: 668px;
    margin: 0 auto 34px;
  }
  &__avatar{
    border-radius: 50%;
    width: 116px;
    height: 116px;
    overflow: hidden;
    margin: 0 auto -74px;
  }
}

.box{
  height: 400px;
  background-color: #000;
}


@import 'media';